body {
    font-family: Ubuntu, "Times New Roman", sans-serif;
    font-size: 12px;
}

/*  My first attempt at creating a web page with HTML and the accompanying CSS  */

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.top li {
  float: left;
}

.top li a {
  display: block;
  text-align: center;
  margin: 25px 5px 0px 25px;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

.apps {
  width: 16px;
  margin-top: -7px;
  margin-right: -6px;
}

.profile {
  width: 32px;
  margin-top: -15px;
  margin-right: 17px;
  margin-left: -4px;
}

.pretty {
  margin-right: -1px;
}

.logo {
  text-align: center;
  display: block;
  margin: 111px 0px 18px 0px;
}

.search {
  text-align: center;
  margin-top: 0px;
}

.search input {
  border-radius: 25px;
  line-height: 20px;
  padding-left: 20px;
  font-size: 10px;
  height: 46px;
  border: 1px #ddd solid;
}

.search input:hover {
   border: .1em #bbb solid;
}

.search input .menu:active {

}

.buttons {
  text-align: center;
  font-size: 13px;
  margin-top: 13px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 2px 9px;
  border-radius: 4px;
}

.buttons input {
  color: #777;
  background-color: #f2f2f2;
  border-style: none;
}

.buttons input:hover {
  border: .5px #bbb solid;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 30px;
    background-color: #f2f2f2;
    border-top: 1px #e4e4e4 solid;
}

.bottom li {
  float: left;
}

.bottom li a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  color: #777;
  padding: 14px 16px;
}

.bottom li a:hover {
  text-decoration: underline;
}

.right {
  margin-right: -3px;
  text-align: left;
}
